<!-- layout:decorate se pone en la plantilla hija que hereda de base-->
<html xmls:th="http://www.thymeleaf.org" 
layout:decorate="www/layout/base"
lang="es-ES">

<section layout:fragment="MainBase">
    <h1>Seccion Principal de la CONTACTOS</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit delectus quia est explicabo molestiae corporis fugit culpa, non, accusantium inventore facilis iusto amet dolore voluptates 
        deserunt beatae? Deserunt, facere laboriosam.</p>
</section>

<div layout:fragment="FooterBase">
    <h1>Footer de la zona contacto </h1>
</div>